/*fonts: Caveat & Geologica*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg: #FFFFFF;
  --text: #363636;
  --not-black: #363636;
  /* --accent: #fca311; */
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Geologica', sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

a {
  color: inherit;
}

.icon-links {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.image-border {
  border: 2px solid var(--not-black);
}

.bottom-border {
  border-bottom: 2px solid var(--not-black);
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-vertically {
  display: flex;
  align-items: center;
}

header {
  background-color: var(--bg);
  align-items: center;
  height: 60px;
}

header a {
  margin: 0 2vw;
}

header div {
  display: flex;
}

#signature {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  display: inline-block;
}

#hero-image { 
  width: 100%;
}

#intro-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  padding: 0 15px;
  text-align: left;
}

#intro-text h1 {
  margin-top: 0;
}

#intro-text p {
  margin: 10px 0;
}

footer {
  padding: 10px 15px;
  font-size: 0.8rem;
  background-color: var(--bg);
  border-top: 2px solid var(--not-black);
}

.footer-socials {
  display: flex;
}

/* BLOG LANDING PAGE */

#blog-landing-page {
  padding: 0 15px;
}

.blog-preview {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text);
  padding: 15px 20px;
  margin: 20px 0;
  background-color: var(--not-black);
  color: var(--bg);
}

.blog-preview h3, p, h5 {
  margin: 5px 0;
}

.blog-preview:hover {
  opacity: 0.9;
}

.blog-section {
  padding: 0 15px;
  margin: 0 auto;
}

.blog-image {
  width: 100%;
  max-width: 500px;
}



@media screen and (min-width: 650px){

  #hero-image {
    content: url("images/profile-banner-desktop.png");
  }

  #intro-text { 
    width: 500px;
  }

  .blog-section {
    width: 500px;
  }
}

