/*fonts: Noto Serif Regular & Homemade Apple*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Noto+Serif+Display&display=swap');

:root {
  --bg: #FFFFFF;
  --text: #363636;
  --not-black: #363636;
  /* --accent: #fca311; */
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Noto Serif Display', serif;
  width: 100vw;
  color: var(--text);
  background-color: var(--bg);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.custom-border {
  border-bottom: 2px solid var(--not-black);
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-vertically {
  display: flex;
  align-items: center;
}

header {
  background-color: var(--bg);
}

header a {
  margin: 0 2vw;
}

header div {
  display: flex;
}

#hero-image { 
  width: 100vw;
  border-bottom: 2px solid var(--not-black);
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
}

#intro h1 {
  margin: 0;
}

h1, h2 {
  font-size: 2rem;
}

.columns-container {
  display: flex;
  gap: 2.5vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
}

footer {
  padding: 10px 15px;
  font-size: 0.8rem;
  background-color: var(--bg);
}
